---
- name: Collect dynamic passwords and encrypt them with Ansible Vault
  hosts: workstation
  become: true
  vars_files:
    - ../group_vars/all.yaml
  tasks:
    - name: Gather Harbor admin password
      shell: grep harbor_admin_password /opt/harbor/harbor.yml | awk '{print $2}'
      register: harbor_pass

    - name: Gather Jenkins initial admin password
      shell: cat /var/jenkins_home/secrets/initialAdminPassword
      register: jenkins_pass
      ignore_errors: yes

    - name: Gather SonarQube password
      shell: echo "admin"  # default SonarQube admin password
      register: sonarqube_pass

    - name: Gather PostgreSQL password
      shell: echo "{{ postgres_password | default('postgres123') }}"
      register: postgres_pass

    - name: Encrypt secrets into ansible/group_vars/all.yaml
      block:
        - name: Harbor password
          ansible.builtin.command: >
            ansible-vault encrypt_string
            --vault-password-file="$ANSSIBLE_VAULT_PASSWORD_FILE"
            --name 'harbor_admin_password' "{{ harbor_pass.stdout }}"
          register: vault_harbor

        - name: Jenkins password
          ansible.builtin.command: >
            ansible-vault encrypt_string
            --vault-password-file="$ANSSIBLE_VAULT_PASSWORD_FILE"
            --name 'jenkins_admin_password' "{{ jenkins_pass.stdout }}"
          register: vault_jenkins

        - name: SonarQube password
          ansible.builtin.command: >
            ansible-vault encrypt_string
            --vault-password-file="$ANSSIBLE_VAULT_PASSWORD_FILE"
            --name 'sonarqube_admin_password' "{{ sonarqube_pass.stdout }}"
          register: vault_sonar

        - name: PostgreSQL password
          ansible.builtin.command: >
            ansible-vault encrypt_string
            --vault-password-file="$ANSSIBLE_VAULT_PASSWORD_FILE"
            --name 'postgres_password' "{{ postgres_pass.stdout }}"
          register: vault_postgres

        - name: Save all secrets to all.yaml
          copy:
            content: |
              {{ vault_harbor.stdout }}
              {{ vault_jenkins.stdout }}
              {{ vault_sonar.stdout }}
              {{ vault_postgres.stdout }}
            dest: ../group_vars/all.yaml
