---
- name: Collect and encrypt secrets for 3-tier app and tools
  hosts: workstation
  become: true
  vars_files:
    - ../group_vars/all.yaml
  tasks:
    - name: Gather Harbor admin password
      ansible.builtin.shell: grep harbor_admin_password /opt/harbor/harbor.yml | awk '{print $2}'
      register: harbor_pass
      ignore_errors: yes

    - name: Gather Jenkins initial admin password
      ansible.builtin.shell: docker exec $(docker ps -q -f name=jenkins) cat /var/jenkins_home/secrets/initialAdminPassword
      register: jenkins_pass
      ignore_errors: yes

    - name: Gather SonarQube admin password
      ansible.builtin.shell: echo "admin"  # Default SonarQube password
      register: sonarqube_pass
      ignore_errors: yes

    - name: Set MySQL root password
      ansible.builtin.set_fact:
        mysql_pass: "{{ mysql_root_password | default('rootpass') }}"

    - name: Encrypt secrets
      block:
        - name: Harbor admin password
          ansible.builtin.command: >
            ansible-vault encrypt_string
            --vault-password-file="$ANSIBLE_VAULT_PASSWORD_FILE"
            --name 'harbor_admin_password' "{{ harbor_pass.stdout | default('harboradmin') }}"
          register: vault_harbor
          when: harbor_pass.stdout is defined

        - name: Jenkins admin password
          ansible.builtin.command: >
            ansible-vault encrypt_string
            --vault-password-file="$ANSIBLE_VAULT_PASSWORD_FILE"
            --name 'jenkins_admin_password' "{{ jenkins_pass.stdout | default('jenkinsadmin') }}"
          register: vault_jenkins
          when: jenkins_pass.stdout is defined

        - name: SonarQube admin password
          ansible.builtin.command: >
            ansible-vault encrypt_string
            --vault-password-file="$ANSIBLE_VAULT_PASSWORD_FILE"
            --name 'sonarqube_admin_password' "{{ sonarqube_pass.stdout | default('admin') }}"
          register: vault_sonar
          when: sonarqube_pass.stdout is defined

        - name: MySQL root password
          ansible.builtin.command: >
            ansible-vault encrypt_string
            --vault-password-file="$ANSIBLE_VAULT_PASSWORD_FILE"
            --name 'mysql_root_password' "{{ mysql_pass }}"
          register: vault_mysql

        - name: Save secrets to all.yaml
          ansible.builtin.copy:
            content: |
              {{ vault_harbor.stdout | default('') }}
              {{ vault_jenkins.stdout | default('') }}
              {{ vault_sonar.stdout | default('') }}
              {{ vault_mysql.stdout }}
            dest: ../group_vars/all.yaml
            mode: '0600'